@import 'icon/*.png';
@include all-icon-sprites;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after{
	display: table;
	content: " ";
	clear: both;
}

body{
	font-family: $headerfont;
	background-color: $hovercolor;

}

.container {
	max-width: 960px;
	margin: 0 auto;
	background-color: $acolor;
}

header{
	text-align: left;
	font-size: 2.75em;
	background-color: $headercolor;
	h1{
		margin:0;
		padding:20px;
	}
}
nav{
	position: sticky;
	position:-webkit-sticky;
	top:0;
	ul{

		@include navStyle();
		text-align: left;
		padding-left: 50px;
		box-sizing: border-box;
		margin:0;
		font-size: 1.75em;
		background-color: $navcolor;
		
		li{

			@include navItem();
			margin: 0 3px;
			a{
				color: $acolor;
				text-decoration: none;
			} //a
			a:hover{
				color: $hovercolor;
			}
		} //li
	} //ul
} //nav

#social, #contact{
	h3,h4{
		@include centerme;
		font-family: $headerfont;
		font-size: 3em;
	}
	h4{
		font-size: 2.5em;
	}
	ul{
		width: 100%;
		@include centerme;
		padding-bottom: 10px;
		margin-top: 10px;
		li{
			list-style: none;
			display: inline-block;
			padding:5px;
			a{
				display: inline-block;
				width: 400px;
				height: 400px;
				zoom:.4;
				span{
					position: absolute;
					top: -9999em;
					left: -9999em;
					
				}//span
			}//a
		} //li
	} //ul
}

section{
	font-family: $bodyfont;
	background-color: $bodycolor;
	padding:20px;
	width: 85%;
	margin: 30px auto;
	h2{
		@include centerme;
		font-family: $headerfont;
		margin:0px;
		font-size: 6em;
	}
	img{
		display: inline-block;
		width: 50%;
	}
	.welcomep{
		float: right;
		text-indent: 2.5em;
		width: 50%;
		display: inline-block;
		font-size: 1.25em;
		margin-bottom: 10px;
	}
	#quote1, #quote2, #quote3{
		margin-top: 70px;
		margin-bottom: 20px;
		color: $headercolor;
		font-family: $headerfont;
		font-size: 2em;
		@include centerme;
		float: none;
		width: 100%;
	}
}
.grid{
	padding:0px;
	width: 100%;
	box-sizing:border-box;
	li{
		box-sizing:border-box;
		padding: 0px;
		margin-bottom: 5px;
		// margin-left: %;
		width: 30%;
		display: inline-block;
		img{
			width: 100%;
			padding: 0px;
			display: inline-block;
		}
	}
}
footer{
	clear: both;
	@include centerme;
	padding-bottom: 20px;
}
.hidden{
    animation-name: hide-animation; 
    animation-duration: 3s;
    animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in;
}

@keyframes hide-animation{
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
		display: none;
	}
}

.active {
    animation-name: active-animation; 
    animation-duration: 2s;
    animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in;
}

@keyframes active-animation{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
		display: block;
	}
}
@media only screen and (min-width: 447px) and (max-width: 887px){
	#social, #contact{
		ul{
			margin:0 auto;
			@include centerme;
			li{
				@include centerme;
				// display:block;
				// width: 100%;
				margin:0 auto;

				a{
					margin: 0 auto;
					// display:block;
					width: 400px;
					height: 400px;
					zoom:.2;
				}//a
			}//li
		}//ul
	}
	#social{
		.grid{
			ul{
				li{
					width: 100%;
					display:block;
					img{
						width: 100%;
						padding: 0px;
						display:block;
					}
				}
			}
		}
	}
	section{
		text-align: center;
		img{
			max-width: 400px;
			width: 100%;
			margin: 0 auto;
		}
		.welcomep{
			display: block;
			text-align: left;
			width: 100%;
		}
	}
} /*end medium tablet  block*/
@media all and (max-width: 446px){
	h1{
		font-size: 1.75em;
	}
	#social, #contact{
		ul{
			margin:0 auto;
			@include centerme;
			li{
				@include centerme;
				display:block;
				width: 100%;
				margin:0 auto;

				a{
					margin: 0 auto;
					display:block;
					width: 400px;
					height: 400px;
					zoom:.2;
				}//a
			}//li
		}//ul
	}
	#social{
		.grid{
			ul{
				li{
					width: 100%;
					display:block;
					max-width: 30px;
					img{
						width: 100%;
						max-width: 30px;
						padding: 0px;
						display:block;
					}
				}
			}
		}
	}
	#social{
		li{
			max-width: 250px;
		}
		.extra{
			display: none;
		}
	}
	section{
		text-align: center;
		img{
			max-width: 400px;
			width: 100%;
			margin: 0 auto;
		}
		.welcomep{
			display: block;
			text-align: left;
			width: 100%;
		}
	}
	nav{
		ul{
			padding-left: 0px;
			text-align: center;
		} //ul
	} //nav
} 